# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Supprimerait .DS_Store
Supprimerait assets/.DS_Store
Supprimerait assets/images/.DS_Store
