/*FONTS*/


/* Titles fonts */




body{
    background-color: #F7F7F7;
    color: #707070;
}



.forum_categories_maincontainer_p1 h1 {
    font-family: "MontserratSemibold";
    color:#12314F;
    text-align: center;
    font-size: 30px;
}

.search_field_forum {
    margin: 5vh 0 5vh 0;
    display: flex;
    justify-content: center;
}

.label_search_forum {
    font-family: "MontserratBold";
    font-size: 16px;
    color:#12314F;
    margin:0 auto;
}

#search_forum_input{
    font-family: 'RalewayLight';
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #E3E3E3;
    color:#12314F;
    position: relative;
}

.label_search_forum input {
    position: absolute;
    right: 0px;
}

.search_icon {
    position: absolute;
    right: 0px;
 
}
.search_icon_img{
    height: 25px;
    width: 25px;
}



#forum_categories__container {
   padding: 0;
}

.forum_header {
    background-color:#E3E9F2;
    height: 70px;
    box-shadow: 0px 3px 6px #E3E3E3;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.forum_header > ul {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
}

.forum_header > li {
    height:100%;
    display: block;

}

.forum_categories_maincontainer_p1 .intro_text {
    text-align: center;
    font-family: 'RalewayLight';
    margin: 0 20px 0 20px;
}

.forum_categories_maincontainer_p1 a {
    text-decoration: underline;
}


/* buttons cta*/



.buttons_cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 12vh;
    margin: 0 auto;
}

.buttons_cta a {
    text-decoration: none;
}

.forum_cta_buttons {
    text-align: center;
    font-family: 'MontserratBold';
    color: #F7F7F7;
    background-color:#12314F;
    border-radius: 10px;
    padding : 10px;
    width: 100%;
}



/* Themes categories part*/

.forum_categories_maincontainer_p2 {
    margin: 5vw;
    height: auto;
}

.forum_categories_maincontainer_p2 h2 {
    font-family: 'MontserratSemibold';
    color:#130E0A;
    font-size: 24px;
}

.themes_categories_section{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    flex-direction: row;
    justify-content: space-around;
}

.themes_categories_section a {
    font-family: 'MontserratSemibold';
    color:#F7F7F7;
    font-size: 20px;
    height: 20vh;
    border-radius: 5px;
    width: 48%;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.themes_categories_section .category1 {
    background-color: #EAB0C3;
}
.themes_categories_section .category2 {
    background-color: #CCC9F2;
}
.themes_categories_section .category3 {
    background-color:#BBDFD8;
}
.themes_categories_section .category4 {
    background-color: #B8D2EC;
}


/*show more buttons*/

.show_more_button{
    text-align: center;
    font-family: 'MontserratBold';
    color: #F7F7F7;
    background-color:#12314F;
    border-radius: 10px;
    padding : 10px;
    display: block;
    margin: 0 auto;
    width: 70%;
}