
/* Titles fonts */




body{
    background-color: #F7F7F7;
    color: #707070;
}

#forum_categories_discussions__container {
    
    margin-top:100px;
    border:0;

}

#forum_categories_discussions__h1 {
    font-family: 'MontserratSemiBold';
    font-weight: 30px;
    color:#F7F7F7;
    text-align: center;
}

/*backlink code */

.backlink {
    display: flex;
    align-items: center;
    height: 20px;
    width: auto;
    font-family: 'RalewayLight';
    font-size: 16px;
    text-decoration: none;
    color: #0066CC;
    margin: 15px;
}

.backlink_leftArrow{
    height: 100%;
    padding-right: 5px;
}


/* forum categories theme */
.forum_categories_theme {
    background-color:#F0B6C9;
    width: 100%;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
}


/*hr line*/
#forum_categories_discussions__container hr {
    border: 1.5px solid #707070;
    color: #707070;
    width: 70vw;
    margin: 0 auto;
}



/*2nd section */

.forum_categories_discussions__part2 {
    margin: 3vw;
}


/* Regular reply message model*/
.forum_categories_discussions__part2 .reply {
    display: flex;
    flex-direction: column;

    
}


.forum_categories_discussions__part2 .forum_reply_date{
    font-family: 'RalewayLight';
    color:#B5B5B5;
    font-size: 14px;
    text-align: right;
}
.forum_categories_discussions__part2 .username_discussions{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding:10px;
}

.forum_categories_discussions__part2 .username_details .username_type{
    height:12px;
    display: flex;
    align-items: flex-end;
}


.username_details img {
    height: 100%;
    padding-left: 5px;
}

.username_pseudo {
    font-family: 'RalewayBold';
    font-weight: 18px;
}
.username_profile_image{
    padding-right: 10px;
    height:100%;
}

.forum_categories_discussions__part2 .username_details{
    
}

.forum_message{
    background-color:#EDEBEB;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

}

.forum_message_text{
    font-family: 'RalewayRegular';
    font-size: 16px;
    padding: 15px;
    color:#1C1B1B;
}
.forum_message_infos{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.forum_message_likes{
    height: 15px;
}
.forum_message_likes img{
    height:100%;
}
.forum_message_buttons{
    display: flex;
    justify-content: space-between;
    padding:25px;
}

.forum_message_button_action{
    text-align: center;
    font-family: 'MontserratBold';
    color: #F7F7F7;
    background-color:#12314F;
    border-radius: 10px;
    padding : 13px 20px 13px 20px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.forum_message_button_action img {
    padding-right: 10px;
}

.reply .reply_to_reply{
    background-color: #F7F7F7;
    padding: 20px;
    margin: 20px;
    font-family: 'RalewayRegular';
    font-size:17px;
}

/*Cta buttons*/


#forum_go_back{
    background-color: #0066CC;
}