/*FONTS*/
@font-face {
    font-family: "MontserratRegular";
    src: url("../assets/font/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("../assets/font/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../assets/font/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "CardoRegular";
    src: url("../assets/font/Cardo-Regular.ttf");
}

@font-face {
    font-family: "CardoBold";
    src: url("../assets/font/Cardo-Bold.ttf");
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../assets/font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "RalewayBold";
    src: url("../assets/font/Raleway-Bold.ttf");
}

@font-face {
    font-family: "RalewayLight";
    src: url("../assets/font/Raleway-light.ttf");
}

/* Titles fonts */




body{
    background-color: #F7F7F7;
    color: #707070;
}

#forum_categories_discussions__container {
    padding:0;
    margin:0;
    border:0;

}

#forum_categories_discussions__container h1 {
    font-family: 'MontserratSemiBold';
    font-weight: 30px;
    color:#F7F7F7;
    text-align: center;
}

/*backlink code */

.backlink {
    display: flex;
    align-items: center;
    height: 20px;
    width: auto;
    font-family: 'RalewayLight';
    font-size: 16px;
    text-decoration: none;
    color: #0066CC;
    margin: 15px;
}

.backlink_leftArrow{
    height: 100%;
    padding-right: 5px;
}


/* forum categories theme */
.forum_categories_theme {
    background-color:#F0B6C9;
    width: 100%;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
}

