/* VERSION MOBILE */
/* 96px : gros blocks*/

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #e3e9f2;
  font-family: "RalewayRegular";
  font-size: 14px;


  &__inputMenu {
    height: 40px;
    padding-left: 3%;
    padding-bottom: 45px;
    background: none;
    border: none;
    color: #0066CC;
    font-family: "RalewayRegular";
    font-size: 14px;
    outline: none;

    & > img {
      width: 32px;
      transform: translateY(10px);
      position: relative;
      left: 3px;
    }
  }

  &__logo {
    display: block;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 18px;
    width: 50%;
  }

  &__logoImg {
    display: block;
    margin: 0 auto;
  }

  &__inputSearch {
    height: 40px;
    padding-top: 20px;
    padding-right: 3%;
    background: none;
    border: none;
    color: #0066CC;
    font-family: "RalewayRegular";
    font-size: 14px;
  }

  &__logoSearch {
    width: 24px;
  }

  &__menu {
    display: none;
    width: 100%;
  }

  &__menu > li {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    text-decoration: none;
    color: #707070;
    font-family: "RalewayRegular";
    border-top: 1px #f7f7f7 solid;
  }

  &__menu > li > a {
    font-size: 16px;
    text-decoration: none;
    color: #707070;
    font-family: "RalewayRegular";
    outline: none;
  }


  &__menu :nth-last-child(n+3) {
    padding-left: 24px;
  }

  &__menu > &__menuSpan {
    border: none;
    text-align: center;
  }

  &__menu > &__menuSpan2 {
    padding-bottom: 1000px;

  }

  &__menu > &__menuSpan > a {
    color: #0066cc;
    font-size: 20px;
  }

  &__menu > li > &__menuSpan--Inscription {
    display: block;
    margin: 0 auto;
    background: #12314f;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    padding-top: 10px;
    color: #f7f7f7;
  }

  &__visibility {
    position: fixed;
    top: 200px;
  }
}
