/* VERSION MOBILE */
/* 96px : gros blocks*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #e3e9f2;
    font-family: "RalewayRegular";
    font-size: 14px;
}

.header__inputMenu {
    height: 40px;
    padding-left: 3%;
    padding-bottom: 45px;
    background: none;
    border: none;
    color: #0066CC;
    font-family: "RalewayRegular";
    font-size: 14px;
    outline: none;
}

.header__inputMenu > img {
    width: 32px;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    position: relative;
    left: 3px;
}

.header__logo {
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 18px;
    width: 50%;
}

.header__logoImg {
    display: block;
    margin: 0 auto;
}

.header__inputSearch {
    height: 40px;
    padding-top: 20px;
    padding-right: 3%;
    background: none;
    border: none;
    color: #0066CC;
    font-family: "RalewayRegular";
    font-size: 14px;
}

.header__logoSearch {
    width: 24px;
}

.header__menu {
    display: none;
    width: 100%;
}

.header__menu > li {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    text-decoration: none;
    color: #707070;
    font-family: "RalewayRegular";
    border-top: 1px #f7f7f7 solid;
}

.header__menu > li > a {
    font-size: 16px;
    text-decoration: none;
    color: #707070;
    font-family: "RalewayRegular";
    outline: none;
}

.header__menu :nth-last-child(n+3) {
    padding-left: 24px;
}

.header__menu > .header__menuSpan {
    border: none;
    text-align: center;
}

.header__menu > .header__menuSpan2 {
    padding-bottom: 1000px;
}

.header__menu > .header__menuSpan > a {
    color: #0066cc;
    font-size: 20px;
}

.header__menu > li > .header__menuSpan--Inscription {
    display: block;
    margin: 0 auto;
    background: #12314f;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    padding-top: 10px;
    color: #f7f7f7;
}

.header__visibility {
    width: 100px;
}
