.index {
  width: 93%;
  margin: 0 auto;
  margin-top: 70px;

  &__H1 {
    margin-top: 120px;
    font-family: "MontserratSemiBold";
    font-size: 30px;
    color: #12314f;
    margin-bottom: 24px;
  }

  &__H2 {
    text-align: center;
    margin-top: 120px;
    font-family: "MontserratSemiBold";
    font-size: 25px;
    color: #12314f;
    margin-bottom: 24px;
  }

  &__p {
    font-family: "RalewayLight";
    font-size: 16px;
    color: #12314f;
    line-height: 150%;

    &--center {
      text-align: center;
    }
  }

  &__Ainfo {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 50%;
    background: #12314f;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    font-family: "RalewayBold";
    font-size: 16px;
    margin-bottom: 100px;

  }

  &__Ainfo > p {
    transform: translateY(75%);
  }

  &__Adisplay {
    margin-top: 30px;
  }

  &__video {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 22px;
  }

  &__slide {
    width: 100%;
    margin-bottom: 36px;

  }

  &__partenariat {
    margin-top: 55px;
    margin-bottom: 50px;
    width: 100%;
  }

  &__debat {
    transform: translateX(-6%);
    height: 48px;
    background: #edebeb;
    width: 80%;
    box-shadow: #EDEBEB 0 3px 6px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "MontserratSemiBold";
    color: #707070;
    font-size: 18px;
  }

  &__debat > h3 {
    transform: translateY(100%);
    padding-left: 3%;
  }

  &__container {
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #e3e9f2;
    border-radius: 6px;
    margin-bottom: 8px;
  }

  &__containerColumn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: "RalewayBold";
    font-size: 18px;
  }

  &__containerColumn:nth-child(3) {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  &__containerColumn > h4 {
    color: #707070;
    padding-top: 10px;
  }

  &__containerColumn-P {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 10px;
    font-size: 14px;
    font-family: "RalewayLight";
    color: #b5b5b5;
  }

  &__containerColumn > h4 > span {
    font-family: "RalewayRegular";
    font-size: 14px;
    padding-top: 3px;
  }


  &__containerLine {
    width: 40%;
    text-align: center;
    font-family: "RalewayBold";
    font-size: 14px;
    color: #707070;

    &--span {
      font-family: "RalewayLight";
    }
  }

  &__containerLine2 {
    width: 58%;
    text-align: right;
    padding-right: 2px;
    font-family: "RalewayBold";
    font-size: 14px;
    color: #707070;
    margin-bottom: 12px;
  }

  &__containerCol-check {
    padding-left: 3px;
    width: 16px;
    transform: translateY(30%);
  }

  &__containerCol-img {
    width: 56px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  &__tag {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 8px;
    font-family: "RalewayRegular";
    font-size: 16px;
    color: #e3e9f2;
  }

  &__tag:nth-child(1) {
    background: #e1004c;
  }

  &__tag:nth-child(2) {
    background: #cc9d00;
  }

  &__tag:nth-child(3) {
    background: #0066cc;
  }

  &__tag:nth-child(4) {
    background: #4d40e3;
  }
}


