.index {
  width: 93%;
  margin: 0 auto;
  margin-top: 70px; }
  .index__H1 {
    margin-top: 120px;
    font-family: "MontserratSemiBold";
    font-size: 30px;
    color: #12314f;
    margin-bottom: 24px; }
  .index__H2 {
    text-align: center;
    margin-top: 120px;
    font-family: "MontserratSemiBold";
    font-size: 25px;
    color: #12314f;
    margin-bottom: 24px; }
  .index__p {
    font-family: "RalewayLight";
    font-size: 16px;
    color: #12314f;
    line-height: 150%; }
    .index__p--center {
      text-align: center; }
  .index__Ainfo {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 50%;
    background: #12314f;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    font-family: "RalewayBold";
    font-size: 16px;
    margin-bottom: 100px; }
  .index__Ainfo > p {
    -webkit-transform: translateY(75%);
    -ms-transform: translateY(75%);
    transform: translateY(75%); }

.index__Adisplay {
    margin-top: 30px;
}
  .index__video {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 22px; }
  .index__slide {
    width: 100%;
    margin-bottom: 36px; }

.index__partenariat {
    margin-top: 55px;
    margin-bottom: 50px;
    width: 100%;
}
  .index__debat {
    -webkit-transform: translateX(-6%);
    -ms-transform: translateX(-6%);
    transform: translateX(-6%);
    height: 48px;
    background: #edebeb;
    width: 80%;
    -webkit-box-shadow: #EDEBEB 0 3px 6px;
    box-shadow: #EDEBEB 0 3px 6px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "MontserratSemiBold";
    color: #707070;
    font-size: 18px; }
  .index__debat > h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    padding-left: 3%; }
  .index__container {
    display: block;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #e3e9f2;
      border-radius: 6px;
      margin-bottom: 8px;
  }

.index__containerColumn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: "RalewayBold";
    font-size: 18px;
}

.index__containerColumn:nth-child(3) {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
    margin-left: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.index__containerColumn > h4 {
    color: #707070;
    padding-top: 10px;
}

.index__containerColumn-P {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 10px;
    font-size: 14px;
    font-family: "RalewayLight";
    color: #b5b5b5;
}

.index__containerColumn > h4 > span {
    font-family: "RalewayRegular";
    font-size: 14px;
    padding-top: 3px;
}

.index__containerLine {
    width: 40%;
    text-align: center;
    font-family: "RalewayBold";
    font-size: 14px;
    color: #707070;
}

.index__containerLine--span {
    font-family: "RalewayLight";
}

.index__containerLine2 {
    width: 58%;
    text-align: right;
    padding-right: 2px;
    font-family: "RalewayBold";
    font-size: 14px;
    color: #707070;
    margin-bottom: 12px;
}

.index__containerCol-check {
    padding-left: 3px;
    width: 16px;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
}

.index__containerCol-img {
    width: 56px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.index__tag {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 8px;
    font-family: "RalewayRegular";
    font-size: 16px;
    color: #e3e9f2;
}

.index__tag:nth-child(1) {
    background: #e1004c;
}

.index__tag:nth-child(2) {
    background: #cc9d00;
}

.index__tag:nth-child(3) {
    background: #0066cc;
}

.index__tag:nth-child(4) {
    background: #4d40e3;
}
