html {
  background: white; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 86px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #ff6975;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 1000000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px; }
  .header__back {
    display: block;
    padding-top: 10px;
    width: 45px;
    margin-left: 2%; }
  .header__home {
    display: block;
    width: 86px;
    padding-right: 50px; }

.admin-header {
  width: 25%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0844), to(#ffb199));
  background: -webkit-linear-gradient(#ff0844 0%, #ffb199 100%);
  background: -o-linear-gradient(#ff0844 0%, #ffb199 100%);
  background: linear-gradient(#ff0844 0%, #ffb199 100%); }
  .admin-header__profil {
    height: 25%;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center; }
  .admin-header__img {
    width: 20px;
    height: 20px; }
  .admin-header__logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
    margin-top: 2%; }
  .admin-header__adminName {
    font-size: 20px;
    font-family: 'Nunito';
    position: relative;
    top: 10%; }
  .admin-header__containerButton {
    margin-top: 10px;
    width: 100%;
    height: 5%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    top: 0%;
    right: 0%;
    -ms-flex-line-pack: center;
    align-content: center; }
  .admin-header__gestionAdmin {
    margin-right: 70%;
    margin-left: 5%; }
  .admin-header__cancel {
    background: none;
    border: none;
    outline: 0;
    position: fixed;
    top: 2.25%;
    left: 20%;
    z-index: 999999; }
  .admin-header__hover:hover {
    text-decoration: underline; }
  .admin-header__disconnection {
    width: 100%;
    text-align: center;
    font-family: "Open Sans";
    background: #ff6975;
    font-weight: bolder;
    position: absolute;
    color: white;
    bottom: 0;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    text-decoration: none;
    font-size: 14px; }
  .admin-header__disconnection:hover {
    background: #ff0844; }
  .admin-header__categories {
    height: 68%;
    width: 100%;
    position: absolute;
    top: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .admin-header__list {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: "Open Sans";
    display: block;
    width: 95%;
    padding-left: 5%;
    height: 24px;
    padding-top: 20px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px; }
    .admin-header__list--bold {
      font-weight: bolder; }
  .admin-header__list:hover {
    background: white; }

.index {
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-bottom: 197px;
  margin-top: 190px; }
  .index__grille {
    width: 62px;
    height: 100%;
    position: fixed;
    top: 0;
    margin-left: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 0; }
    .index__grille--nav {
      width: 10px;
      background: -webkit-gradient(linear, left top, left bottom, from(#ff0844), to(#ffb199));
      background: -webkit-linear-gradient(#ff0844 0%, #ffb199 100%);
      background: -o-linear-gradient(#ff0844 0%, #ffb199 100%);
      background: linear-gradient(#ff0844 0%, #ffb199 100%); }
  .index__grandContainer {
    margin-bottom: 10%; }
  .index__titreCategorie {
    font-family: "Nunito";
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0844), to(#ffb199));
    background: -webkit-linear-gradient(top, #ff0844 0%, #ffb199 100%);
    background: -o-linear-gradient(top, #ff0844 0%, #ffb199 100%);
    background: linear-gradient(180deg, #ff0844 0%, #ffb199 100%);
    width: initial;
    font-size: 40px;
    margin-left: 5%;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 50px;
    border-radius: 50px;
    border: none;
    height: 70px;
    outline: none;
    color: white; }
  .index__containerOne {
    width: 100%;
    height: 230px;
    background: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px; }
  .index__container {
    position: absolute;
    width: 98%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: hidden;
    z-index: 10000;
    background: white;
    margin-left: 1%; }
    .index__container--boxRestaurant {
      height: 150px;
      text-align: center;
      margin-right: 20px;
      padding-left: 100px;
      padding-right: 100px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-decoration: none;
      -ms-flex-line-pack: center;
      align-content: center;
      border-radius: 15px;
      z-index: 10000;
      white-space: nowrap; }
    .index__container__h3Title {
      font-weight: bold;
      color: white;
      font-size: 40px;
      text-shadow: black 1px 0 10px;
      font-family: "Open Sans";
      position: relative;
      top: 40%; }

.connexion {
  width: 50%;
  height: 1024px;
  display: block;
  margin: 0 auto;
  text-align: center; }
  .connexion__formulaire {
    margin-top: 30%; }
  .connexion__erreur {
    color: #ff0844;
    position: relative;
    top: 100px;
    font-family: "Open Sans"; }

.html {
  margin-bottom: 100px;
  background: rgba(211, 211, 211, 0.4); }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Open Sans";
  font-size: 12px;
  width: 100%;
  margin-bottom: 4%; }
  .article__sectionImg {
    margin: 0 auto;
    margin-top: 86px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .article__description {
    width: 34%;
    margin-top: 20px;
    padding-left: 8%;
    padding-right: 8%; }
  .article__title {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Nunito";
    margin-bottom: 4%; }
  .article__text {
    font-size: 12px;
    text-align: justify; }
  .article__back {
    text-decoration: none;
    color: #ff6975;
    font-family: "Open Sans";
    font-size: 10px;
    margin-left: 75%; }
  .article__bold {
    font-weight: bolder; }
  .article__formulaire {
    width: 33%;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    border-left: dashed 1px  #ff6975; }
  .article__h2 {
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;
    font-family: "Nunito";
    font-size: 18px; }
  .article__input {
    display: block;
    margin: 0 auto;
    width: 58%;
    height: 36px;
    padding-left: 2%;
    border: none;
    font-family: "Open Sans";
    outline: 0;
    margin-bottom: 4%;
    border-bottom: #ff6975 1px solid;
    border-left: none; }
  .article__submit {
    width: 50%;
    color: white;
    background: black;
    text-transform: uppercase;
    font-size: 14px;
    border: none; }
  .article__submit:hover {
    background: #ff6975;
    color: white; }

.admin {
  background: rgba(211, 211, 211, 0.4);
  width: 50%;
  padding-top: 5%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin-left: 25%;
  padding-bottom: 6%; }
  .admin__title {
    text-align: center;
    font-family: "Nunito";
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 10%;
    color: #ff0844; }
  .admin__cancel:hover {
    text-decoration: underline; }
  .admin__add:hover {
    color: #88c057; }
  .admin__button {
    display: block;
    margin: 0 auto;
    width: 72%;
    padding-left: 3%;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans";
    margin-bottom: 5%;
    font-size: 14px;
    outline: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px; }
  .admin__description {
    padding-top: 2%; }
  .admin__containerFormulaire {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: visible; }
  .admin__nameCategory {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans";
    margin-bottom: 5%;
    font-size: 14px;
    outline: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 25px; }
  .admin__prix {
    width: 22%; }
  .admin__submit {
    background: #ff6975;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 6%;
    margin-bottom: 14%;
    color: white; }
  .admin__submit:hover {
    background: #ff0844; }
  .admin__response {
    position: absolute;
    top: 3%;
    left: 43%;
    text-align: center;
    color: #659c35;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bolder; }

.backgroundNone {
  background: none; }

.display {
  visibility: hidden; }

@font-face {
  font-family: "Nunito";
  src: url("../assets/font/Nunito-Regular.ttf"); }

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/OpenSans-Regular.ttf"); }
